table, th, tr, td {
  padding: 0;
  margin: 0;
}

html, body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

abbr {
  text-decoration: none;
}

body {
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "ballinger-mono",sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #FEB614;
}
@media screen and (min-width: 600px) {
  body {
    -webkit-box-pack: center;
            justify-content: center;
  }
}
@media screen and (max-height: 700px) {
  body {
    -webkit-box-pack: start;
            justify-content: start;
  }
}

.page-grid {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 100%;
  grid-template-areas: "a" "b" "c";
}
@media screen and (min-width: 630px) {
  .page-grid {
    margin: 1rem;
    width: auto;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1.5fr;
    background-color: black;
    border: 1px solid black;
    grid-gap: 1px;
    grid-template-areas: "a b" "c b";
  }
}
@media screen and (min-width: 900px) {
  .page-grid {
    width: 730px;
  }
}

.page-grid__area {
  background-color: #FEB614;
  padding: 2rem;
}

.header {
  grid-area: a;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  padding: 2rem 3rem;
}
.header svg {
  width: 100%;
  height: 100%;
  flex-basis: 200px;
  align-self: center;
  -webkit-box-pack: center;
          justify-content: center;
}
@media screen and (min-width: 630px) {
  .header {
    -webkit-box-align: start;
            align-items: start;
    -webkit-box-pack: start;
            justify-content: start;
  }
  .header svg {
    align-self: start;
    -webkit-box-pack: start;
            justify-content: start;
  }
}

.main-content {
  grid-area: b;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column nowrap;
  -webkit-box-align: start;
          align-items: flex-start;
}
.main-content table:last-of-type {
  margin-top: auto;
}

.footer {
  grid-area: c;
  padding: 2rem 3rem;
}

.footer h1 {
  font-size: 1rem;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.contacts-list {
  margin: 1rem 0;
  line-height: 1.6;
  font-weight: bold;
}
.contacts-list .phone-number,
.contacts-list .email a {
  text-decoration: none;
  color: black;
  font-weight: 400;
}
.contacts-list .email {
  margin-top: 1.5rem;
}

th {
  text-align: left;
}

.table {
  font-size: 1.125rem;
  width: 100%;
}

.table + .table {
  margin: 1rem 0;
}

.table th {
  font-weight: 400;
}

.table td {
  font-weight: bold;
}

.table th,
.table td {
  text-transform: uppercase;
  padding: .25rem 0;
}

th.price,
td.price {
  text-align: right;
  font-weight: 400;
}

th.price {
  font-size: .8rem;
}

.note {
  font-weight: 400;
}

.copyrights {
  padding: 1rem;
}
